.bg-img-body {
  background-image: url("https://reporte.humboldt.org.co/assets/js/2024/2/203/ficha-203-transformacion-estado.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  min-height: 300px;
  max-height: 1450px;
  height: 100%;
  background-size: cover !important;
  padding: 50px 0;
}
.title-container {
  display: flex;
  gap: 10px;
  margin: 40px 0;
  color: #fff;
}
.info-container {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 16px;
  min-height: 400px;
}
.title-container i {
  margin: 5px;
}

.column {
  position: relative;
}
.map-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  transform: scale(1.2);
  top: -20px;
  max-width: 70vh;
}
.map-container > img {
  max-width: 100%;
}
.map-layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map-layers img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease;
  object-fit: contain;
}

.map-filters {
  position: relative;
  z-index: 100;
}

.map-filters input {
  display: none;
}
.map-filters label {
  position: relative;
  color: #000 !important;
  margin: 0.35rem 0;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.map-filters label:before {
  content: "";
  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  background-size: conatain;
  background-repeat: no-repeat;
  background-position: center;
}
.map-filters .humedales input:checked + label:before {
  background-image: url();
  background-color: #00647a;
}

.map-filters .manglares input:checked + label:before {
  background-image: url();
  background-color: #5b9f27;
}

.filters-table {
  width: 25%;
  border-collapse: collapse;
  border: 1px solid #000;
  margin-left: 40px;
}

.filters-table td {
  border-bottom: 1px solid #000;
}

.filters-table tr:last-child td {
  border-bottom: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.color-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #999;
}

.title-section {
  padding: 20px 0;
}

.container-img {
  position: relative;
}

.description {
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  gap: 10px;
}
.description .scientific-name {
  font-style: italic;
}

.img-map {
  position: absolute;
  max-height: 400px;
  top: -70px;
  left: 2%;
}

.img-caiman {
  margin-top: -150px;
}

.mapa-colombia {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 85px;
  height: 110px;
}
