@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

/*************/
/* html tags */
/*************/
html, body{/*added in v2021*/
	margin: 0;
	padding: 0;
}
body {
	background: #f3f3f3;
	color: #333;
	font-family: 'Rubik', sans-serif;
	font-weight:400;
	font-size: 0.96rem;
	line-height: 1.5rem;
	text-align:center;
}
:root {
	--ff-body: "Rubik", sans-serif;
	--ff-heading: "Rubik", sans-serif;
	--fs-xl: clamp(1.7rem, 2.1vw + 0.75rem, 3rem);
	--fs-600: clamp(1.5rem, 1.2vw + 0.75rem, 1.8rem);
	--fs-500: clamp(1.3rem, 1.5vw + 0.6rem, 1.6rem);
	--fs-400: clamp(1.2rem, 1.2vw + 0.4rem, 1.4rem);
	--fs-300: clamp(1.1rem, 0.9vw + 0.2rem, 1.2rem);
	--fs-200: clamp(0.6rem, 0.7vw + 0.1rem, 0.8rem);
}
@media (min-width: 40em) {
	:root {
		/*--fs-600: clamp(1rem, 3vw + 0.5rem, 1.8rem);*/
		/*--fs-400: 1.125rem;*/
	}
}
h1,h2,h3,h4,h5,h6{
	margin-top:0;
	margin-bottom:1rem;
}
h1 {
	font-size: var(--fs-xl);
	font-weight: 500;
	line-height: 1;
}
h2 {
	font-size: var(--fs-600);
	font-weight: 500;
	line-height: 2rem;
}
h3 {
	font-size: var(--fs-500);
	font-weight: 300;
	letter-spacing: -0.05rem;
	line-height: 1.5;
}
h4 {
	font-size: var(--fs-400);
	font-weight: 400;
	line-height: 1.35;
}
h5 {
	font-size: var(--fs-300);
	font-weight: 300;
}
h6 {
	font-size: var(--fs-200);
	font-weight: 300;
	line-height: 1.5;
}
a {
	color: #777; /*update in v2021*/
	text-underline-offset: 3px;
}
a:hover {
	color:#d3d3d3;
	opacity: 0.9;
}
div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*new 2018-08-17 - update in v2021*/
footer{
	/*background-color: #38a0b9;
	background-color: #133746;*/
	background-color: #3C3C3B;
	color: #fff;
	text-align: center;
}
/*footer a{
	color: #fff;
	padding: 0 5px; 
}
footer a:hover{
	color: #ccc;
}*/
/*footer > a{
	background-color: #50a8bd;
	display: block;
	padding:10px 0;
	text-align: center;
}*/
.footer-wrap{
	padding: 20px;
}
/*end new 2018-08-17*/
img{
	max-width:100%;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;/*update em to rem in v2021 - 2022-09-15*/
	padding: 0;
}
header div.container{
	font-size:1.1rem;/*update em to rem in v2021 - 2022-09-15*/
	width:70%;
	max-width:1170px;
	margin:auto;
}
iframe[src*="sound"] {
	margin:10px !important;
}
input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],input[type="file"],textarea,select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	width: 100%;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
	color: #bbb;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url(../img/icons_png/check_radio_sheet.png)left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/icons_png/check_radio_sheet.png) -19px top no-repeat;
}
/*added here 2020-11-12*/
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    margin: 10px 50px;
    background: linear-gradient(to right, #ddd 0%, #555 100%);
    background-size: 100% 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    zoom: 130%;
    display: block;
    margin: auto;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: #999 0 0 30px;
    border: #ccc 1px solid;
    position: relative;
    z-index: 3;
}
input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    background: #2ecc71;
}
/*end added here 2020-11-12*/
label{/*update 2018-07-20*/
	color:#CCC;
	display: block;/*added here in v2021 - 2022-09-15*/
	font-size:14px;
	font-weight:300;
}
label.btn{/*update in v2021 - 2022-09-15*/
	line-height: 1.5rem;
}
label + datalist {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
label + datalist option {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 7px;
    margin: 0 0 10px 0;
    border-left: 1px solid #bbb;
}
nav {
	align-items: center;
	background: rgba(255,255,255,0.9);
	/*new*/box-shadow: rgba(180,180,180,0.4) 0 0 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/*padding: 0 0 8px;*//*update in v2021 - 2022-09-15*/
	position: fixed;
	/*update*/width: 100%;
	top: 0;
	z-index: 200;
}
nav:hover {
	background: rgba(255,255,255,1);
}

/* Tables - skeleton –––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}



/*animations */
a, a img:hover, nav, footer, input, button, .info_ficha, .card * {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.5;
	}
}
@keyframes glow {
	0% {opacity: 0; } 50% {opacity: 1; } 100% { opacity: 0; }
}
@keyframes rotate{
	0% {
	  transform: rotate(90deg);
	}
	10% {
	  opacity: 0;
	}
	35% {
	  transform: rotate(0deg);
	  opacity: 1;
	}
	65% {
	  transform: rotate(0deg);
	  opacity: 1;
	}
	80% {
	  opacity: 0;
	}
	100% {
	  transform: rotate(-90deg);
	}
}
.grow:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:all 0.3s ease;
	z-index:205;
}
.shrink:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition:all 0.3s ease;
}



/*************/
/* ids */
/*************/
#fp-nav ul li a span, .fp-slidesNav ul li a span{/*fullpage buttons*/
	background: rgba(255,255,255,0.6);
	border: rgba(200,200,200, 0.3) 2px solid;
}
#glosario-completo{
	display:none;
}
#lightbox{
	position:fixed;
	top:48px;
	left:0;
	z-index: 199;
}
#lightbox.overall{/*added in v2021*/
	/*top: 0;*/
	z-index: 201;
}
#lightbox > .lightbox_iframe, #lightbox iframe{
	background-color:#333;
	border:none;
	height:100%;
	margin:auto;
	text-align: center;
	overflow: auto;
	/*width:calc(100% - 30px);*/
	width:100%;
}
#lightbox > .lightbox_iframe img{
	max-width: inherit;
}
#lightbox.overall > div{/*added in v2021*/
	height:100vh;
	overflow: auto;
}
#lightbox .closeLightbox{
	background-color:#fff;
	box-shadow:rgba(180,180,180,0.4) 0 0 10px;
	position: absolute;
	top:5px;
	right:0;
	width: 20px;
	height: 25px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
	padding:7px 7px 7px 7px;
	z-index: 1;
}
#lightbox .closeLightbox.after{
	top:65px!important;
}
#logo{
	height: 33px;
	margin: 4px 0 0;
}


/*************/
/* classes */
/*************/

/***card - added 2019-07-06***/
.card-icon{
	border-width: 0;
	border-radius: 50%;
	max-height: 100px;
	transition:all 0.3s ease;
}
.card-icon:hover{
	border: 10px inset rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
/*.card_nav added in v2021 - 2022-09-14*/
.card_nav{
	list-style: none;
}
.card_nav > li{
	display: inline;
}

/***card footer***/
/*update 2018-07-18 - update in v2021*/
/*.info_ficha, .info_ficha a,*/ .info_ficha label{
	color: white;
}
.info_ficha div.col-group:first-child{
	margin-bottom: 30px;
}
.info_ficha div.col-group:first-child div:first-child a{
	border: 1px solid #fff;
	border-radius: 5px;
	line-height: 3rem;/*update em to rem in v2021 - 2022-09-15*/
	padding: 10px;
	text-decoration: none;
	white-space: nowrap;
}
.info_ficha div.col-group:first-child div:first-child a:hover{
	background-color: #ddd;
}
/*end update 2018-07-18*/
/*new 2018-07-18*/
.citation{
	background-color: white;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #000;
	font-size: 11px;
	font-style: normal;
	font-weight: 100;
	display: none;
	padding: 3px;
	text-align: left;
	-webkit-user-select: all;  /* Chrome all / Safari all */
	-moz-user-select: all;     /* Firefox all */
	-ms-user-select: all;      /* IE 10+ */
	user-select: all;          /* Likely future */   
}
.citation::before { 
    content: "Seleccione y copie: ";
	color: grey;
}
.citation.show{
	display: block;
}
.citation-trigger{
	cursor: pointer;
}


/*fullpage*/
.slide .container{/*added in v2021*/
	position: relative;
}
.slide:only-child .container{
	position: inherit;
}
.slide + .slide img:not(.fullscreen_background){
	max-height: 70vh;
}


/***loader - added in v2***/
.loader_fullscreen-wrap {
	background-color: rgba(240, 240, 240, 0.96);
	color: #666;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0; right: 0; left: 0; bottom: 0;
	z-index: 1000;
}
.loader_fullscreen {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0; right: 0; left: 0; bottom: 20%;
	margin: auto;
	z-index: 1000;
}
.loader_fullscreen div {
	width: 100px;
	height: 160px;
	font-size: 40px;
	text-align: center;
	transform-origin: bottom center;
	margin: auto;
	animation: 1s rotate infinite;
	opacity: 0;
}
.loader_fullscreen span {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.loader_fullscreen-wrap a {
	font-size: 13px;
	cursor: pointer;
	bottom: 20%;
	left: 0;
	right: 0;
	position: fixed;
}
/***end loader***/


/***menu***/
#menu-wrapper label {
    cursor: pointer;
}
#menu-wrapper label:focus {
    outline: none;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    transform: translate3d(-160px, 0, 0);
    transition: transform 0.35s;
}
.menu ul {
    background-color: rgba(255,255,255,0.95);
    height: 100vh;
    list-style: none;
    overflow: auto;
    text-align: left;
}
.menu ul ul{
    text-align:center;
}
.menu label.menu-toggle {
    position: absolute;
    right: -48px;
    width: 48px;
    height: 48px;
    /*line-height: 0px;*/
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: rgba(255,255,255,0.95) url(../img/icon-menu-alt-512.webp) 50% 50%/20px 20px no-repeat;
}
.menu ul li > label.submenu {
    background: url(../img/icon-arrow-right-b-128.webp) 95% 50%/16px 16px no-repeat;
}
.menu ul li a, .menu ul li label {
    /*display: block;*/
    color: #888;
    font-size: 15px;
    font-weight: 400;
    /*padding: 0 20px;*/
    line-height: 57px;
    text-decoration: none;
}
.menu ul li a:hover, .menu ul li label:hover {
    color: #d3d3d3;
}
.menu ul{
    margin: 0;
	padding: 0 12px;
}
/* hide inputs */          
.menu-checkbox {
    display: none;
}
/* hide navigation icon for sublabels */    
.menu .menu label.menu-toggle {
    background: none;
}
/* fade in checked menu */    
.menu-checkbox:checked + .menu {
    transform: translate3d(0, 0, 0);
}
.menu-checkbox:checked + .menu > label.menu-toggle, .menu-checkbox:checked + .menu .menu > label.menu-toggle {
    transform: translate3d(-160px, 0, 0);
    background: url(../img/icon-close-128.webp) 50% 60%/16px 16px no-repeat;
}
.menu-checkbox:checked + .menu ul {
    box-shadow: rgb(180 180 180 / 40%) 0 0 30px;
}


/***navigation***/
/*.arrow_l, .arrow_r - update in v2021*/
.navigation_arrows{
	color: #777;
	/*margin: 10px;*/ /*opacity: 0.3;*/
	animation: flechas 2s;
	/*comentar después de buscador*/
	position: fixed;
	right: 0;
	/*padding: 15px;*/
	z-index: 204;
}
.navigation_arrows label{
	color:#777;
}
.breadcrumb {
	text-align: center;
	/*new*/ margin: auto;
}
.breadcrumb, .breadcrumb li {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	font-weight: 300;
	/*line-height: 0.95em;*//*update in v2021 - 2022-09-15*/
}
.breadcrumb:hover li,  .breadcrumb:hover li::after {
	opacity: 1;
}
.breadcrumb li {
	padding: 4px 8px;/*update in v2021*/
	width: auto;
	vertical-align: top;
}
.breadcrumb li:first-child a,  .breadcrumb li:first-child {
	max-width: 300px;
	height: 40px;
	opacity: 1;
}
.breadcrumb li::after {
	content: ' ';
	width: 10px;
	height: 30px;
	background: url(../img/bc_arrow.png) no-repeat;
}
.breadcrumb li:last-child::after {
	display: none;
}



/*tooltip*/
#tooltip{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}
#tooltip:after /* triangle decoration */{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}
#tooltip.top:after{
	border-top-color: transparent;
	border-bottom: 10px solid #111;
	/*top: -20px;*/
	top: -5px;
	bottom: auto;
}
#tooltip.left:after{
	left: 10px;
	margin: 0;
}
#tooltip.right:after{
	right: 10px;
	left: auto;
	margin: 0;
}
.tooltip{
	border-bottom: 1px dashed #CCC;
}
.svg_tooltip {/*2020-02-08, 09*/
  color: white;
  background-color: #111;
  display: none;
  font-size: 12px;
  padding: 15px;
  position: absolute;
  text-align: left;
  z-index: 100;
}
.svg_tooltip ul{
    font-size: 12px;
    list-style: none;
    margin-bottom: 0;
	margin-top: 0;/*added 2020-02-25*/
}
.svg_tooltip li{
	line-height: 1.4rem;/*update in v2021 - 2022-09-15*/
}
.svg_tooltip li li{
    margin-right: 15px;
	margin-bottom: 0;/*added 2020-02-25*/
	white-space: nowrap;
}
/*delete dashed border bottom to some elements*/
/*tooltip to lg-map*/
.lg-map-tooltip{
	position:fixed;
	display:none;
	padding:10px 15px;
	background:#f2f2f2;
	font-size:14px;
	font-weight:bold;
	border:1px solid #262626;

	-moz-border-radius: 4px; /* FF1-3.6 */
	-webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 4px 4px 4px 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */    
	/* useful if you don't want a bg color from leaking outside the border: */        
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}


/***other classes***/
.absoluteBL, .absoluteBR, .absoluteCL, .absoluteCR, .absoluteTL, .absoluteTR{
	position: absolute;
	z-index: 200;
}
.absoluteBL .btn, .absoluteBR .btn, .absoluteCL .btn, .absoluteCR .btn, .absoluteTL .btn, .absoluteTR .btn{
	padding:4px 6px;
}
.absoluteBL{
	bottom: 10%;
	left: 2%;
}
.absoluteBR{
	bottom: 10%;
	right: 2%;
}
.absoluteCL{
	top: 45%;
	left: 2%;
}
.absoluteCR{
	top: 45%;
	right: 2%;
}
.absoluteTL{
	top: 10%;
	left: 2%;
}
.absoluteTR{
	top: 10%;
	right: 2%;
}
.align-c{
	text-align:center;
}
.align-j{
	text-align:justify;
}
.align-l{
	text-align:left;
}
.align-r{
	text-align:right;
}
.block {
	display: block !important;
}
.btn{
	border-radius: 5px;
	border: 1px solid #fff;
	padding:6px 10px;
	line-height:210%;
	text-decoration: none;
}
.btn img{
	vertical-align:text-top;
}
a.btn:hover{
	background:#fff;
	color:#999;
}
.border-1{
	border: 1px solid #fff;
}
.border-2{
	border: 1px dashed #fff;
}
.border-3{
	border: 16px inset rgba(255, 255, 255, .3);
	box-sizing: border-box;
}
.noborder{
	border: none;
}
.box{
	max-width: 360px;
}
.circle{
	border-radius: 50%;
}
.btn .circle{
	height:30px;
	width:30px;
}
/*end added 2019-07-06*/
.col3{/*update in v2021 - 2022-09-14*/
	-webkit-columns: 300px;
	-moz-columns: 300px;
	columns: 300px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 640px; /* Firefox */
    column-gap: 40px;
	max-height: 70vh;
	overflow-x: auto;
	margin-bottom: 20px;
	text-align: left;
}
.col3:first-letter{
  float: left;
  font-size: 93px;
  line-height: 68px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.container{/*update skeleton*/
  max-width: 90%;
  margin: auto;
}
.close {
	position: absolute;
	right: -10px;
	top: -10px;
}
.cursor-pointer {
	cursor: pointer;
}

/*c3*/
.c3 svg{
	font-size:14px;
}
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
	stroke: transparent;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
	stroke: transparent;
}
.c3-grid .c3-xgrid-focus {
   visibility : hidden !important;
}
/*end c3*/


/*float classes added in v2021 - 2022-09-19*/
.float-l{
	float: left;
	margin-right: 5px;
}
.float-r{
	float: right;
	margin-left: 5px;
}

.fullscreen_background{
  position: absolute;
  left: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
  opacity: 0.9;
  -webkit-filter: brightness(.3);
  filter: brightness(.3);
  z-index: -1;
}
.fullscreen_map{
	margin-top:65px;
	height: 90vh;/*update 2019-11-27*/
	width: 100%;
}
.fullscreen_map-legend{
	max-width: 360px;
	margin: auto;
	list-style: none;
	z-index: 4;
}
.fullscreen_map-legend ul{
	list-style: none;
}
.fullscreen_map-legend li, .fullscreen_map-legend.legend-clear li{
	font-weight: 300;
	background-color: rgba(30,30,30,0.9);
	border-bottom: 1px solid rgba(90,90,90,0.6);
	word-break: keep-all;
	margin: 0;
	text-align: left;
}
.fullscreen_map-legend.legend-clear li{
	background-color: rgba(250,250,250,0.9);
	border-bottom: 1px solid rgba(220,220,220,0.6);
}
.fullscreen_map-legend.nobuttons li{
	background-color: transparent;
	border-bottom: transparent;
}
.fullscreen_map-legend:not(.nobuttons) li:hover{
	background-color: rgba(90,90,90,0.9);
}
.fullscreen_map-legend li:first-child{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.fullscreen_map-legend li:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	border-bottom: none;
}
.fullscreen_map-legend:not(.nobuttons) li label, .fullscreen_map-legend li a{
	color: #bbb;
	cursor: pointer;
	display: block;
	padding: 8px;
	margin: 0;
}
.fullscreen_map-legend:not(.nobuttons) li label:hover, .fullscreen_map-legend li a:hover{
	color: #fff;
}
.fullscreen_map-legend li i{
	float: left;
	height: 24px;
	margin-right: 6px;
	width: 17px;
}
.gallery img{
	max-height:540px;
}
.hidden{
	display: none;
}
/*end new 2018-07-18*/
.inline{
	display:inline;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
}
/*list-horizontal - added in v2021 - 2022-09-13*/
.list-horizontal{
	display: flex;
	justify-content: center;
}
.list-horizontal .list-label{
	display: inline-block;
	margin-right: 5px;
	/*white-space: nowrap;*/
}
.list-horizontal ul{
	display: inline-block;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 auto;
	padding: 5px 5px 10px;
	white-space: nowrap;
	width: 100%;
}
.list-horizontal li{
	display: inline-table;
	margin-right: 3%;
	max-width: 390px;
	white-space: break-spaces;
}
.layered-paper {
    background: #fff;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
		padding:2%;
}
.myiframe{
	border:none;
	width:100%;
	height:600px;
	margin:10px auto;
}
.mymap{
	height:600px;
	overflow-y:auto;
	border-radius:5px;
}
.mymap img{
	width:100%;
}
.nowrap{
	white-space: nowrap;
}/*new 2018-08-17*/
.overLayer-wrap {
	position: relative;
	top:20px;
	max-height: 930px;
}
.overLayer-1 {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-height: 930px;
}
.overLayer-2 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	max-height: 930px;
}
.padding-1{
	padding:90px 2%;
}
.padding-2{
	padding:3%;
}
.padding-3{
	padding:1.5%;
}
.share-plugin-wrap{
	display: none;
}
/*sticky added in v2021*/
.sticky, .sticky_bottom{
	position: sticky;
	top: 0;
}
.sticky_bottom{
	bottom: 0;
	z-index: 4;
}
/*new 2018-08-17*/
.svg path{
  fill: #ff0000;
}
.tag {
	background: url("../img/tag_bg.png") no-repeat;
	background-size: cover;
	margin: 5px 0 !important;
	padding: 10px 10px 10px 30px;
	border-radius: 0 5px 5px 0;
	/*color:white;*/
	/*line-height:3.5em;*/
	line-height: 3.5rem;/*update in v2021 - 2022-09-15*/
	text-decoration: none;/*added in v2021 - 2022-09-23*/
	white-space: nowrap;
}
.toggleSpan span{
	display:none;
}
.toggleSpan:hover span{
	display: inline;
}
.video-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.video-responsive iframe, .video-responsive video {/*update 2019-07-12*/
	left:5%;
	top:0;
	height:90%;
	width:90%;
	position:absolute;
}
/*dynamic table - code moved here 2020-11-30*/
.wrap-table{
    margin:20px auto;
	margin:20px auto 0;/*update 2019-07-22*/
}
.wrap-variable{
    max-height: 340px;
    overflow:auto;
    text-align: left;
    overflow-x: hidden;
}
.wrap-variable div{
    padding:20px;
}
.wrap-variable a:not(.lightbox),.wrap-variable p{
    /*display: block;*/
    font-size:13px;
    margin: auto auto 5px;
    padding:5px;
}
.wrap-variable a{
    text-align: left;
    width: 77%;
	line-height: 1.4rem;/*update in v2021 - 2022-09-15*/
}
.wrap-variable {
   list-style: none;
   counter-reset: item;
}
.wrap-variable > li, .wrap-variable > li {
   font-size:13px;
   padding:5px;
   list-style: none;
   counter-increment: item;
   margin-bottom: 5px;
}
.wrap-variable > li:not(.hasicon):before {
   content: "+";
   margin-right: 3px;
   background: #bbb;
   border-radius: 100%;
   color: white;
   min-width:1.6rem;/*update in v2021 - 2022-09-15*/
   text-align: center;
   display: inline-block;
}
ol.wrap-variable > li:not(.hasicon):before {
   content: counter(item);
}
/*added 2020-04-20*/
.zoom_figure {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}
.zoom_figure img:hover {
    opacity: 0;
}
.zoom_figure img {
    transition: opacity .5s;
    display: block;
    width: 100%;
}
/*end  2020-04-20*/


/*added in v2021*/
@media screen and (max-width: 360px) {
	.navigation_arrows{
		display: none;
	}
}
/*end added v2021*/

@media screen and (max-width: 380px) {
	/*added 2018-07-20*/
	.absoluteBL, .absoluteBR, .absoluteCL, .absoluteCR, .absoluteTL, .absoluteTR{
		position:inherit;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	/*end added 2018-07-20*/
	.myiframe, .mymap{
		height:250px;
	}
}



/*added 2020-12-30*/
@media screen and (max-width: 480px) {
	.breadcrumb {
		text-align: center;
		/*new*/ margin: 0;
	}
	nav ul.breadcrumb:before {
		display: none;
	}
	nav ul.breadcrumb li:first-child a:before {/*new*/
		background: none;
	}
}
/*end added 2020-12-30*/



/*new 2017*/
@media screen and (max-height: 640px) {
	header {
		padding-top: 30px;
	}
	.myiframe, .mymap{
		height:400px;
	}
}
/*end new*/



@media screen and (min-width: 640px) {
	.card_nav{
		max-width: 37px;
		position: absolute;
		right: 0;
		text-align: right;
		top: 30%;
	}
	.card_nav .btn{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.card_nav > li{
		display: block;
		margin-bottom: 5px;
	}
	.card_nav.carrousel{
		position:relative;
		margin: auto;
		top: 0;
	}
	.card_nav.carrousel .btn{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.card_nav.carrousel > li{
		display: inline;
	}
}



@media screen and (max-width: 640px) {
	header {
		padding-top: 30px;
	}
	nav {
		position: static;
	}
    #menu-wrapper{
        left: 0;
        position: absolute;
        top: 0;
        z-index: 201;
    }
	#lightbox{
		top:0;
	}
	/*update in v2021*/
	.navigation_arrows{
		position: static;
	}
	.navigation_arrows > *:not(.search_btn){
		display: none;
	}
	/*end update v2021*/
	.breadcrumb li {
		display: none;
	}
	.breadcrumb li:first-child {
		display: block;
	}
	.fullscreen_map{
		margin-top:auto;
		height: 70vh;/*update 2020-07-12*/
		width: 90%;
	}
	.fullscreen_map-legend, .box{
		position: static;
		max-width: auto;
	}
	.myiframe, .mymap{
		height:400px;
	}
}



@media screen and (max-width: 768px) {
	/*new 2018-08-17*/
	header div.container{
		width: inherit;
	}/*new 2018-07-20*/
	.container{
		max-width: 95%
	}
	.col3.container{
		max-width: 90%
	}
	.col-group{
		padding: 0 5px;
	}
	.padding-1{
		padding:10px 1%;
	}
	.padding-2{
		padding:1.5%;
	}
	.padding-3{
		padding:0.75%;
	}
    .wrap-variable{
        height:auto;
	}
}




@media screen and (max-height: 768px) and (min-width:481px) {
	.gallery img{
		max-height:360px;
	}
	.myiframe, .mymap{
		height:500px;
	}
}



@media screen and (max-width: 1200px) {
	section{ 
		padding:30px 0;
	}
	/*removed .col3 from here in v2021 - 2022-09-14*/
	/*.col3{
		-webkit-columns: auto 1;
		-moz-columns: auto 1;
		columns: auto 1;
		max-height: none;
		padding:50px 0 0 0;
	}*/
	.section, .fp-section,  .fp-slides {
		height: 100% !important;
	}
}



/*responsive*//*update 2018-07-21 - antes en linea 1241*/
@media screen and (max-width:1160px), screen and (max-height:740px) {
	.col3{
		max-height: 60vh;/*update from 420px in v2021 - 2022-09-14*/
	}
	.breadcrumb li {
		display: none;
	}
	.breadcrumb li:first-child {
		display: block;
	}
	.mymap{
		height:500px;
	}
	.overLayer-wrap, .overLayer-1, .overLayer-2 {
		max-height: 760px;
	}
}