.title-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-container i {
  margin: 5px;
}

.context-icon {
  display: flex;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: end;
}

.context-icon div {
  display: flex;
}

/* Estilos para la línea de tiempo */

.timeline-container {
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.timeline-section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 34px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title.isidro {
  color: #00748b;
  border-bottom: 2px solid #00748b;
}
.section-title.guerra {
  color: #692940;
  border-bottom: 2px solid #692940;
}
.section-title.retorno {
  color: #aebc14;
  border-bottom: 2px solid #aebc14;
}

.year-group {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 200px;
}

.year {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 0px;
}

.year.isidro {
  color: #264d56;
}

.year.guerra {
  color: #4c2846;
}

.year.retorno {
  color: #8e9353;
}

.event-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.event-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  color: #333;
  font-size: 14px;
  padding-bottom: 14px;
  border-bottom: 1px dotted #000;
  margin-bottom: 20px;
  position: relative;
  padding-left: 0;
}

.event-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  margin-top: 2px;
}

.event {
  flex: 1;
}

.separator {
  height: 1px;
  background-color: #ddd;
  margin: 30px 0;
  width: 100%;
}

/* Eliminar los puntos de lista anteriores */
.event-container::before {
  display: none;
}

/* Estilos específicos para la sección de Retorno */
.timeline-section .timeline-years {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

/* Responsive para pantallas más pequeñas */
@media (max-width: 768px) {
  .timeline-years {
    flex-direction: column;
    gap: 30px;
  }

  .timeline-section:last-child .year-group {
    flex: 0 0 100%;
  }

  .col-group {
    flex-direction: column;
  }

  .col-dt-6 {
    min-width: 100%;
  }
}
