.title-container {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.container {
  padding: 60px 0px;
}
.info-container {
  min-height: 300px;
  position: relative;
}

.info-container img {
  border-radius: 16px;
}

.description {
  display: flex;
  flex-direction: column;

}

