/* Estilos específicos para la ficha 102 contenido 2 */
.ficha102-contenido2 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ficha102-contenido2 body {
  font-family: "rubik", sans-serif;
  background-color: #f5f5f5;
}

.ficha102-contenido2 .main-content {
  padding: 60px 0px;
}

.ficha102-contenido2 .container_title {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.ficha102-contenido2 .title-filter {
  font-size: 28px !important;
  font-weight: bold;
}

.ficha102-contenido2 .subtitle-group {
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 8px;
}

.ficha102-contenido2 .filters {
  width: 25%;
}

.ficha102-contenido2 .filters h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.ficha102-contenido2 .filter-buttons {
  display: flex;
  flex-direction: column;
}

.ficha102-contenido2 .filter-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-family: "Rubik";
  background-color: #fff;
  color: #000;
  border: none;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ficha102-contenido2 .filter-btn img {
  width: 56px;
  height: 56px;
  border-radius: 8px 0 0 8px;
}

.ficha102-contenido2 .filter-btn:hover {
  background-color: #b6d8e3;
}

.ficha102-contenido2 .filter-btn.active {
  background-color: #b6d8e3;
}

.ficha102-contenido2 .cards {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 50px;
}

.ficha102-contenido2 .card {
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ficha102-contenido2 .card h4 {
  font-size: 18px;
}

.ficha102-contenido2 .card p {
  margin: 0;
}

.ficha102-contenido2 .card .category {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.ficha102-contenido2 .card .status {
  color: white;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ficha102-contenido2 .card .status.LC {
  background-color: #3a6811;
}

.ficha102-contenido2 .card .status.NT {
  background-color: #1c2445;
}

.ficha102-contenido2 .card .status.VU {
  background-color: #e9c101;
}

.ficha102-contenido2 #species-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 240px));
  gap: 20px;
  justify-items: center;
  margin: 20px;
  width: 100%;
}

.ficha102-contenido2 .species-group {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 16px;
}

.ficha102-contenido2 .species-group.Patos-y-afines {
  background: #1c2445;
}

.ficha102-contenido2 .species-group.Vadeadoras {
  background: #79ab2b;
}

.ficha102-contenido2 .species-group.Limícolas {
  background: #692940;
}

.ficha102-contenido2 .species-group.Marino-costeras {
  background: #f59c00;
}

.ficha102-contenido2 .species-group.Otros {
  background: #fc7268;
}

.ficha102-contenido2 .species-name {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.ficha102-contenido2 .scientific-name {
  font-size: 16px;
  font-style: italic;
  color: #333333;
}

.ficha102-contenido2 .species-description {
  font-size: 14px;
  color: #333333;
}

.ficha102-contenido2 .status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ficha102-contenido2 .filter-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ficha102-contenido2 .filter-select-container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.ficha102-contenido2 .filter-select {
  font-size: 18px;
  font-family: "Rubik";
  background-color: #fff;
  color: #000;
  border: none;
  margin: 5px 0;
  padding: 10px 5px;
  height: 56px;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .ficha102-contenido2 .filters {
    width: 100%;
  }
}
