body {
  background-image: url("./input/img/Ficha-305-El-Proyecto-Titi.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100%;
  background-size: cover !important;

}
