
.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 100%;
  margin: 1em auto;
}

.highcharts-data-table table {
  border-collapse: collapse;
  border: 1px solid var(--highcharts-neutral-color-10, #e6e6e6);
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: var(--highcharts-neutral-color-60, red);
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tbody tr:nth-child(even) {
  background: var(--highcharts-neutral-color-3, #f7f7f7);
}

.highcharts-description {
  margin: 0.3rem 10px;
}

.highcharts-button-normal text {
  fill: #000 !important;
}

.highcharts-button-hover text {
  fill: #fff !important;
}

.highcharts-button-hover rect {
  fill: #e9746a ;
}


.highcharts-button-pressed text {
  fill: red !important;
}

.highcharts-menu-item:last-child {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li {
  min-width: 200px;
  max-width: 100%;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #fff;
  padding: 12px 40px;
  color: #747474;
  font-size: 22px;
  font-weight: bold;
  float: left;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group .active a {
  background: #008493;
  color: #ffffff;
}

.line-tabs {
  width: 100%;
  height: 2px;
  border-radius: 2px;
}

.total-info-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  gap: 20px;
  text-align: justify;
}

.highcharts-background {
  fill-opacity: 0;
}

.highcharts-no-tooltip[title="Chart context menu"]:last-of-type {
    display: none;
}

#marina, #continental {
  display: none;
}

.text-description-graphic {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.quantity-graphic{
  font-weight: normal;
}

.graphic-text {
  font-size: 14px;
  color: #747474;
}

.culumn-info {
  display: flex;
  gap: 10px;
}

.space-circle {
  padding: 15px;
}

.culumn-info p {
  margin: 0;
}


@media screen and (max-width: 750px) {
  .tab-group {
    display: block;
    gap: 20px;
  }

  .tab-group li {
    min-width: 200px;
    max-width: 50%;
  }

  .tab-group li a {
    width: 50%;
  }

}