.container-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info {
  min-height: 400px !important;
}
.title-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
